import CinderComponent from "./cinder/component";
import Cinder from "./cinder";

export default class <%= @class_name %> extends CinderComponent {
  constructor(element: HTMLElement, cinder: Cinder) {
    super(element, cinder);

    <%= for event <- @events do %>
    this.registerEvent('<%= event.name %>', function(event: Event) {
      <%= event.script.script %>
    });
    <% end %>
  }
}
