import CinderComponent from "./cinder/component";

export default class <%= @class_name %> extends CinderComponent {
  constructor(element) {
    super(element);

    <%= for event <- @events do %>
    this.registerEvent('<%= event.name %>', function(event) {
      <%= event.script.script %>
    });
    <% end %>
  }
}
